@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is an Event Management System by ThreeAmigos Corp. </p>
<a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us!</a>
