@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h1>ThreeAmigos Corp.</h1>
</div>
<div>
    <p style="font-size:15px;">Welcome to the Event Management System!</p>

    
</div>
<div>
    <b><p>Manage:</p></b>
    <ul class="">
        <li><a asp-area="" asp-controller="Customers" asp-action="Index">Customers</a></li>
        <li><a asp-area="" asp-controller="Staffs" asp-action="Index">Staffs</a></li>
        <li><a asp-area="" asp-controller="Events" asp-action="Index">Events</a></li>
        <li><a asp-area="" asp-controller="GuestBookings" asp-action="Index">Guest Booking</a></li>
        <li><a asp-area="" asp-controller="StaffBookings" asp-action="Index">Staff Booking</a></li>
    </ul>
</div>