@model ThAmCo.Events.Data.Event

@{ ViewData["Title"] = "ReserveVenue"; }

<h2>Confirm Reservation</h2>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConfirmReservation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="VenueCode" class="control-label"></label>
                <select asp-for="VenueCode" class="form-control" asp-items="ViewBag.Venues"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Reserve" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
